{% extends "templateRecords.twig" %}

{% block content %}
    {{ message }}
    <div class="content">
        <button><a href="/students/add">ADD</a></button>
        <br>
        <table>
            <tr>
                <th>ID</th>
                <th>FIRST</th>
                <th>LAST</th>
                <th>AGE</th>
                <th>ACTION</th>
            </tr>
            {% for key, values in rows %}
                <tr>
                    <td>{{ key }} </td>
                    {% for value in values %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td><button><a href="/students/edit/{{ key }}">EDIT</a></button> <button><a href="/students/delete/{{ key }}">DELETE</a></button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}